{% extends 'base.html' %}
{% load static %}
{% block title %}
  Profile Update
{% endblock %}

{% block content %}
  <style>
    .recommendation-container {
      background-color: #ffffff;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
    }
    
    .button-container {
      margin-top: 20px;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    
    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #dee2e6;
    }
    
    th {
      background-color: #f8f9fa;
    }
    
    tr:hover {
      background-color: #f1f1f1;
    }
  </style>

  <div class="page-wrapper" style="width: 100%;">
    {% include 'partials/sidebar.html' %}
    <div class="main-container">
      {% include 'partials/header.html' %}
      <div class="content-wrapper-scroll">
        <div class="content-wrapper">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="card-header-lg">
                  <h4>Profile Update</h4>
                </div>
                <div class="card-body">
                  <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="field-wrapper">
                        <input type="text" id="first_name" class="form-control" placeholder="Pius" />
                        <div class="field-placeholder">First Name</div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="field-wrapper">
                        <input type="text" id="last_name" class="form-control" placeholder="Abighe-simon" />
                        <div class="field-placeholder">Last Name</div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="field-wrapper">
                        <input type="email" id="email" class="form-control" placeholder="oghenefegor24@gmail.com" />
                        <div class="field-placeholder">Email</div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="field-wrapper">
                        <input type="text" id="phone_number" class="form-control" placeholder="123-456-7890" />
                        <div class="field-placeholder">Phone</div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="field-wrapper">
                        <input type="text" id="city" class="form-control" placeholder="" />
                        <div class="field-placeholder">City</div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="field-wrapper">
                        <input type="text" id="state" class="form-control" placeholder="" />
                        <div class="field-placeholder">State</div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="field-wrapper">
                        <input type="file" id="profile_picture" class="form-control" />
                        <div class="field-placeholder">Profile Picture</div>
                      </div>
                    </div>
                  </div>
                  <div class="button-container">
                    <button id="update-profile" class="btn btn-primary">Update Profile</button>
                  </div>
                  <div id="update-message" class="mt-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'partials/footer.html' %}
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      const accessToken = localStorage.getItem('access_token')
    
      if (!accessToken) {
        window.location.href = '/api/v1/auth/signin/'
      } else {
        fetchProfileDetails(accessToken)
      }
    
      $('#update-profile').click(function () {
        const formData = new FormData()
        formData.append('first_name', $('#first_name').val())
        formData.append('last_name', $('#last_name').val())
        formData.append('email', $('#email').val())
        formData.append('phone_number', $('#phone_number').val())
        formData.append('city', $('#city').val())
        formData.append('state', $('#state').val())
        const profilePicture = $('#profile_picture')[0].files[0]
        if (profilePicture) {
          formData.append('profile_picture', profilePicture)
        }
        updateProfile(accessToken, formData)
      })
    })
    
    function fetchProfileDetails(token) {
      $.ajax({
        url: '/api/v1/patients/profile/details/',
        type: 'GET',
        contentType: 'application/json',
        headers: {
          Authorization: `Bearer ${token}`
        },
        success: function (data) {
          if (data.status === 200) {
            const profile = data.data
            $('#first_name').val(profile.user.first_name)
            $('#last_name').val(profile.user.last_name)
            $('#email').val(profile.user.email)
            $('#phone_number').val(profile.phone_number)
            $('#city').val(profile.city)
            $('#state').val(profile.state)
          } else {
            $('#update-message').html('<p>No profile details found.</p>')
          }
        },
        error: function (xhr) {
          console.error('Error fetching profile details:', xhr.responseText)
          $('#update-message').html('<p>Error loading profile details.</p>')
          if (xhr.status === 401) {
            window.location.href = '/api/v1/auth/signin/'
          }
        }
      })
    }
    
    function updateProfile(token, formData) {
      $.ajax({
        url: '/api/v1/patients/profile/update/',
        type: 'PUT',
        contentType: false,
        processData: false,
        headers: {
          Authorization: `Bearer ${token}`
        },
        data: formData,
        success: function (response) {
          if (response.status === 200) {
            $('#update-message').html('<p>' + response.message + '</p>')
          } else {
            $('#update-message').html('<p>Error updating profile: ' + response.message + '</p>')
          }
        },
        error: function (xhr) {
          console.error('Error updating profile:', xhr.responseText)
          $('#update-message').html('<p>Error updating profile.</p>')
          if (xhr.status === 401) {
            window.location.href = '/api/v1/auth/signin/'
          }
        }
      })
    }
  </script>
{% endblock %}
