{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="{% static 'assets/img/fav.png' %}">

    <!-- Title -->
    <title>Pharmacovigilance System | {% block title %}    {% endblock %}</title>

    <!-- Common CSS Files -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!-- Icomoon Font Icons CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/style.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- Vendor CSS Files -->
    <!-- Mega Menu -->
    <link rel="stylesheet" href="{% static 'assets/vendor/megamenu/css/megamenu.css' %}">

    <!-- Search Filter CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/search-filter/search-filter.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/search-filter/custom-search-filter.css' %}">

    	<!-- Date Range CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/daterange/daterange.css' %}">
</head>
<body class="authentication">
<!-- Loading wrapper start -->
<div id="loading-wrapper">
    <div class="spinner-border"></div>
    Loading...
</div>
<!-- Loading wrapper end -->
       
    {% block content %}
 
{% endblock %}
    <!-- Page Wrapper End -->

    <!-- Required JavaScript Files -->
    <!-- jQuery first, then Bootstrap Bundle JS -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/appmanagerscripts.js' %}"></script>
<!-- Megamenu JS -->
<script src="{% static 'assets/vendor/megamenu/js/megamenu.js' %}"></script>
<script src="{% static 'assets/vendor/megamenu/js/custom.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/vendor/slimscroll/slimscroll.min.js' %}"></script>
<script src="{% static 'assets/vendor/slimscroll/custom-scrollbar.js' %}"></script>

<!-- Search Filter JS -->
<script src="{% static 'assets/vendor/search-filter/search-filter.js' %}"></script>
<script src="{% static 'assets/vendor/search-filter/custom-search-filter.js' %}"></script>

<!-- Date Range JS -->
<script src="{% static 'assets/vendor/daterange/daterange.js' %}"></script>
<script src="{% static 'assets/vendor/daterange/custom-daterange.js' %}"></script>

<!-- Apex Charts -->
<script src="{% static 'assets/vendor/apex/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/saas/sales.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/saas/revenue.js' %}"></script>

<!-- Rating JS -->
<script src="{% static 'assets/vendor/rating/raty.js' %}"></script>
<script src="{% static 'assets/vendor/rating/raty-custom.js' %}"></script>

<!-- Main Js Required -->
<script src="{% static 'assets/js/main.js' %}"></script>

   
</body>
</html>
